/*Configurações Globais e Variáveis*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff; 
}

:root {
  --verde-escuro: #1f1f1f; 
  --verde: #c0c0c0;
  --orange: #ff7c37;
  --degrade-btn: linear-gradient(#fe9611, #ff5c00);
  --color-p: #a1a1a1;
  --color-p-2: #868585;
}

.container {
  max-width: 1440px;
  padding: 0 5%;
  margin: 0 auto;
}

section, footer {
  padding: 2.7rem 0;
}

/* Botões */
.btn-gradiente {
  padding: 10px 25px;
  color: white;
  border: none;
  cursor: pointer;
  background-image: var(--degrade-btn);
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
  
}.btn-gradiente:hover {
  box-shadow: 0px 0px 30px rgba(255, 94, 0, 0.808);
}
.btn-gradiente:active {
  box-shadow: 0px 0px 30px rgb(255, 255, 255);
}


/* Header e Navegação */
header {
  position: fixed;        
  top: 0;                  
  left: 0;                 
  width: 100%;              
  z-index: 1000;         
  background-color: var(--verde-escuro); 
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0; 
}

.logo img {
  display: block;
}

.categorias-site {
  display: flex;
  align-items: center;
}

.categorias-site li {
  margin: 0 20px;
  font-size: 16px;
}

.categorias-site li a {
  color: white;
  position: relative;
  padding-bottom: 5px;
}

.categorias-site li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.categorias-site li a:hover::after {
  transform: scaleX(1);
}

.menu-icon {
  display: none; 
}

/* Main (Hero Section)*/
section.hero.background-verde {
  background-color: var(--verde-escuro);
  padding-top: 140px; 
  padding-bottom: 80px;
  min-height: 80vh; 
  display: flex;
  align-items: center;
}

.Home-txtImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
}

/* Lado Esquerdo: Texto */
.Home-txtImg .txt-principal {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Home-txtImg h1 {
  font-size: 3.5rem;
  color: white;
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: 700;
}

.Home-txtImg p {
  font-size: 1.4rem;
  color: var(--color-p);
  margin-bottom: 30px;
}

/* Lado Direito: Imagem */
.imagem {
  width: 45%;
  display: flex;
  justify-content: center;
}

.imagem img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
}

/* Sobre */
.sobre1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.sobre1 .txt-principal {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sobre1 h1 {
  font-size: 3.5rem;
  color: white;
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: 700;
}

.sobre1 p {
  font-size: 1.4rem;
  color: var(--color-p);
  margin-bottom: 30px;
}

.sobre2 {
  width: 45%;
  display: flex;
  justify-content: center;
}

.sobre2 img {
  width: 90%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

.sobre3 {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.sobre3 h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--verde-escuro);
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: 700;
}
.sobre3 p {
  margin: 20px 0;
  font-size: 1.1rem;
  color: var(--color-p-2);
  line-height: 1.5;
}
.sobre3 a {
  margin: 20px 0;
  color: var(--verde-escuro);
  line-height: 1.5;
}
.cartao {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
/* Resultados */
.resultados {
  background-color: var(--orange);
  padding: 20px 0;
}
.resultados-txt {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

/* Diferenciais */
.diferencias .container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.diferencias .card {
  flex: 1;
  padding: 30px;
  border-radius: 15px;
  transition: 0.3s;
  text-align: left;
}
.diferencias .card:hover {
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}
.diferencias .card img {
  width: 50px;
  margin-bottom: 15px;
}
.diferencias .titulo {
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--verde-escuro);
}

/* Casa (Loja) */
.casa .container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.casa .casa-img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.casa .casa-img img {
  width: 100%;
  border-radius: 10px;
}
.casa .casa-text {
  width: 50%;
}
.casa .casa-text h2 {
  font-size: 2.5rem;
  color: var(--verde-escuro);
}
.casa .casa-text p {
  margin: 20px 0;
  color: var(--color-p-2);
  line-height: 1.5;
}
.casa .casa-text a {
  margin: 20px 0;
  color: var(--color-p-2);
  line-height: 1.5;
}
.casa .casa-text fotolocal{
  width: 10%;
  max-width: 50px;
  border-radius: 15px;
}

/* Estilo para o container do mapa */
#map {
  height: 400px;
  width: 100%;
  z-index: 1; 
  border-radius: 4px;
}

.produtos {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 40px 0;
}

.card {
  width: 300px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.cardproduto {
  width: 300px;
  background: #303233;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;

}
.card:hover {
  transform: translateY(-8px);
}

.cardproduto:hover {
  transform: translateY(-8px);
}

.card-img {
  width: 100%;
  height: 230px; /* altura fixa para padronizar */
  overflow: hidden;
  border-radius: 15px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .4s ease;
}

/* Zoom OUT ao passar o mouse */
.card:hover .card-img img {
  transform: scale(0.9);
}

h3 {
  color: white;
  margin: 20px 0 15px 0;
  font-size: 20px;
  font-weight: 600;
}

.btn {
  background: #ff7a00;
  border: none;
  padding: 12px 28px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background .3s ease;
}

.btn:hover {
  background: #e96b00;
}
.titulo-produtos {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--verde-escuro);
  margin-bottom: 40px;
}



/* Newsletter */
.newsletter {
    background-color: black;
    background-image: url(/banner/banner1.png);
    background-size: cover;   /* Ajusta a imagem pra cobrir toda a div */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição */
}
.newsletter .box-newsletter {
  text-align: center;
  padding: 30px 20px;
}
.newsletter h2 {
  color: white;
  margin-bottom: 10px;
  margin-bottom: 30px;
}

/* Footer */

footer {
  background-color: var(--verde-escuro)
}

footer h3 {
  margin-bottom: 20px;
  color: var(--orange);
  font-size: 1.2rem;
  text-transform: uppercase;
}

footer p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  margin-bottom: 20px;
}

footer a {
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  margin-bottom: 20px;
}


/* Responsividade (Mobile)*/
@media (max-width: 960px) {
  .menu-icon {
    display: block; 
    cursor: pointer;
  }
  
  .categorias-site {
    display: none; 
  }

  .Home-txtImg {
    flex-direction: column;
    text-align: center;
  }
  
  .Home-txtImg .txt-principal {
    width: 100%;
    align-items: center;
  }
  
  .imagem {
    width: 100%;
  }

  .sobre1 {
    flex-direction: column;
    text-align: center;
  }
  
  .sobre1 .txt-principal {
    width: 100%;
    align-items: center;
  }
  
  .sobre2 {
    width: 80%;
  }

  .casa .container,
  .diferencias .container,
  .melhores-lugares .cards,
  footer .container {
    flex-direction: column;
  }
  
  .casa .casa-text, .casa .casa-img,
  .footer-coluna, 
  .card-item {
    width: 100%;
    text-align: center;
  }
  
  .casa .container {
    flex-direction: column-reverse; /* Imagem em cima no mobile */
  }
}
@media (max-width: 960px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  /* Estado Inicial do Menu (Escondido) */
  .categorias-site {
    display: flex; /* Mantemos flex para o layout funcionar */
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--verde-escuro);
    padding: 20px 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    z-index: 999; 
    
    opacity: 0;                 
    visibility: hidden;         
    transform: translateY(-20px);
    transition: all 0.4s ease; 
  }

  /* 'Estado Ativo' é quando o js adiciona a classe .active */
  .categorias-site.active {
    opacity: 1;                 
    visibility: visible;       
    transform: translateY(0); 
  }
  
  .categorias-site li {
    margin: 15px 0;
  }
  
  /* Ajustes do restante do mobile (mantenha o que já tinha abaixo) */
  .Home-txtImg {
    flex-direction: column;
    text-align: center;
  }
  
}
/*Melhores Lugares*/
.melhores-lugares h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.melhores-lugares .cards {
  display: flex;           
  flex-direction: row;    
  justify-content: space-between; 
  gap: 20px;              
  margin-top: 20px;
}

.melhores-lugares .cards .card-item {
  width: 30%;              
  background-color: white;
  text-align: center;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.melhores-lugares .cards img {
  width: 120px;
  height: auto;
  margin-bottom: 15px;
}

.melhores-lugares .cards .nome-casa {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0 20px 0;
}

/* uns ajustes para Celular */
@media (max-width: 960px) {
  .melhores-lugares .cards {
    flex-direction: column; 
    align-items: center;
  }
  
  .melhores-lugares .cards .card-item {
    width: 100%;          
    max-width: 350px;      
    margin-bottom: 30px;
  }
}
.cartao{
  width: 100%;
}
@media(max-width: 960px){

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}
@media (max-width: 960px) {
  footer .container {
    flex-direction: column; 
    align-items: center;   
    text-align: center;
  }

  footer .footer-coluna {
    width: 100%;
    margin-bottom: 40px;
  }
  
  footer .redes-sociais {
    justify-content: center;
  }
}
